@theme static {
  --spacing-product-card-padding: var(--spacing-200);
  --spacing-product-card-col-layout: var(--spacing-200);
  --spacing-product-card-buttons: var(--spacing-200);
  --spacing-product-card-max: 16.25rem;

  --color-product-card-border: var(--color-border-secondary);

  --text-product-card-name-size: var(--text-sm);
  --font-weight-product-card-name: var(--font-weight-semibold);

  --text-product-card-price-size: var(--text-lg);
  --font-weight-product-card-price: var(--font-weight-bold);

  --radius-product-card-image: 0;
}
