@import "./styles/tokens/index.css";

:root {
  color: var(--color-fg-primary);
  font-family: var(--font-sans);
  background: var(--color-base);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
