{
    log default {
        format console
        output stdout
        exclude http.log.access
    }
}

admin.medusa.localhost:443 {
    reverse_proxy medusa-be:9000
    tls internal
}

admin.medusa.localhost:9009 {
    reverse_proxy medusa-be:9009
    tls internal
}

admin.medusa.localhost {
    redir https://admin.medusa.localhost:{$DC_CADDY_HTTPS_PUBLIC_PORT:443}{uri}
}

n1.medusa.localhost:443 {
    reverse_proxy n1:3000
    tls internal
}

n1.medusa.localhost {
    redir https://n1.medusa.localhost:{$DC_CADDY_HTTPS_PUBLIC_PORT:443}{uri}
}

admin.meilisearch.localhost:443 {
    reverse_proxy medusa-meilisearch:7700
    tls internal
}

admin.meilisearch.localhost {
    redir https://admin.meilisearch.localhost:{$DC_CADDY_HTTPS_PUBLIC_PORT:443}{uri}
}

admin.minio.localhost:443 {
    reverse_proxy medusa-minio:9003
    tls internal
}

api.minio.localhost:80 {
    reverse_proxy medusa-minio:9004
    tls internal
}

admin.minio.localhost {
    redir https://admin.minio.localhost:{$DC_CADDY_HTTPS_PUBLIC_PORT:443}{uri}
}

admin.db.localhost:443 {
    reverse_proxy adminer:8080
    tls internal
}

admin.db.localhost {
    redir https://admin.db.localhost:{$DC_CADDY_HTTPS_PUBLIC_PORT:443}{uri}
}

admin.zane-operator.localhost:443 {
    reverse_proxy zane-operator:8080
    tls internal
}

admin.zane-operator.localhost {
    redir https://admin.zane-operator.localhost:{$DC_CADDY_HTTPS_PUBLIC_PORT:443}{uri}
}
