# Prod overrides - use with: docker compose -f docker-compose.yaml -f docker-compose.prod.yaml up --build
services:
  medusa-be:
    build:
      target: prod
      args:
        FEATURE_PPL_ENABLED: ${DC_FEATURE_PPL_ENABLED:-0}
        FEATURE_COMPANY_ENABLED: ${DC_FEATURE_COMPANY_ENABLED:-0}
    volumes: []  # No volume mounts in prod
  n1:
    build:
      target: prod
      args:
        NEXT_PUBLIC_MEDUSA_BACKEND_URL: ${DC_N1_NEXT_PUBLIC_MEDUSA_BACKEND_URL:-http://localhost:9000}
        NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY: ${DC_N1_NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY:-}
        NEXT_PUBLIC_SITE_URL: ${DC_N1_NEXT_PUBLIC_SITE_URL:-http://localhost:8000}
        NEXT_PUBLIC_MEILISEARCH_URL: ${DC_N1_NEXT_PUBLIC_MEILISEARCH_URL:-}
        NEXT_PUBLIC_MEILISEARCH_API_KEY: ${DC_N1_NEXT_PUBLIC_MEILISEARCH_API_KEY:-}
        NEXT_PUBLIC_META_PIXEL_ID: ${DC_N1_NEXT_PUBLIC_META_PIXEL_ID:-}
        NEXT_PUBLIC_GOOGLE_ADS_ID: ${DC_N1_NEXT_PUBLIC_GOOGLE_ADS_ID:-}
        NEXT_PUBLIC_LEADHUB_TRACKING_ID: ${DC_N1_NEXT_PUBLIC_LEADHUB_TRACKING_ID:-}
        NEXT_PUBLIC_HEUREKA_API_KEY: ${DC_N1_NEXT_PUBLIC_HEUREKA_API_KEY:-}
    environment:
      NODE_ENV: production
    volumes: []  # No volume mounts in prod
