@theme static {
  --color-toast-fg: var(--color-herbatika-white);
  --color-toast-close-fg: var(--color-herbatika-white);
  --color-icon-control-bg-hover: transparent;
  --color-icon-control-fg: var(--color-herbatika-white);
}
