@theme static {
  --spacing-radio-card-stack-sm: var(--spacing-150);
  --spacing-radio-card-item-control-sm: var(--spacing-200);

  --padding-radio-card-addon-sm: var(--spacing-500);
  --padding-radio-card-item-control-sm: var(--spacing-400);
  --size-radio-card-indicator-mark-sm: 0.75rem;

  --spacing-radio-card-item-control-md: var(--spacing-500);
  --padding-radio-card-item-control-md: var(--spacing-400);

  --text-radio-card-item-sm: var(--text-sm);
  --text-radio-card-item-description-md: var(--text-xs);
  --radius-radio-card-item: var(--radius-base);

  --border-width-radio-card: var(--border-width-sm);
}
