@theme static {
  --gap-select-root: var(--spacing-100);
  --radius-select: var(--radius-xs);
  --radius-select-lg: var(--radius-xs);
  --radius-select-md: var(--radius-xs);  
  --padding-select-trigger-sm: var(--padding-input-sm);
  --padding-select-trigger-md: var(--padding-input-md);

  --color-select-content-bg: var(--color-surface);
  --color-select-content-border: var(--color-border-primary);
  --color-select-trigger-border: var(--color-border-primary);
  --color-select-trigger-border-hover: var(--color-border-secondary);
  --color-select-trigger-border-focus: var(--color-primary);
  --color-select-item-bg-hover: var(--color-highlight);
  --color-select-item-bg-selected: oklch(
    from var(--color-highlight) calc(l - 0.03) c h
  );
  --color-select-item-selected-fg: var(--color-primary);
  --color-select-indicator: var(--color-primary);
}
