@theme static {
  --radius-search-form-md: 0.625rem;
  --spacing-search-form-clear-button: var(--spacing-200);

  --color-form-control-bg: var(--color-surface);
  --color-form-control-border: var(--color-border-secondary);
  --color-form-control-border-hover: var(--color-border-primary);
  --color-form-control-border-focus: var(--color-primary);
  --color-form-control-fg-placeholder: var(--color-fg-placeholder);

  --color-search-form-border-focused: var(--color-black);
  --color-search-form-bg-focused: var(--color-button-bg-primary-hover);
}
