@theme inline {
  --color-radio-group-item-bg-hover: var(--color-highlight);
  --color-radio-group-item-border-hover: var(--color-border-primary);
  --color-radio-group-item-border-subtle-checked: var(--color-primary);

  --spacing-radio-group-stack-horizontal-sm: var(--spacing-500);

  --size-radio-group-control-sm: 0.875rem;
  --size-radio-group-indicator-sm: 0.75rem;
}
