@theme static {
  --color-breadcrumb-bg: var(--color-base);
  --color-breadcrumb-item: var(--color-fg-accent);
  --color-breadcrumb-item-current: var(--color-fg-accent);
  --color-breadcrumb-item-hover: var(--color-fg-accent);
  --color-breadcrumb-separator: var(--color-fg-accent);

  --text-breadcrumb-icon-md: var(--text-icon-sm);
  --text-breadcrumb-md: var(--text-xs);
  --text-breadcrumb-separator-icon-md: var(--text-icon-sm);

  --spacing-breadcrumb-link-md: var(--spacing-200);
  --spacing-breadcrumb-md: var(--spacing-200);
  --spacing-breadcrumb-separator-md: var(--spacing-250);
}
