@theme static {
  --color-pc: var(--color-surface);
  --border-pc-border: transparent;
  --border-pc-width: 0px;
  --radius-pc: var(--radius-md);

  /* Card spacing */
  --spacing-pc-row-layout: var(--spacing-sm);
  --spacing-pc-col-layout: var(--spacing-2xs);
  --spacing-pc-box: var(--spacing-2xs);
  --spacing-pc-padding: var(--spacing-2xs);

  /* Card layout */
  --height-pc-card: 100%;
  --height-pc-badges-min: 1.5rem;

  --color-pc-name-fg: var(--color-fg-primary);
  --text-pc-name-size: var(--text-md);

  --leading-pc-name: var(--line-height-snug);
  --height-pc-name-lines: 1;

  --color-pc-stock-fg: var(--color-success);
  --text-pc-stock-size: var(--text-sm);

  --color-pc-price-fg: var(--color-fg-primary);
  --text-pc-price-size: var(--text-lg);

  /* === PRODUCT CARD BUTTONS ===*/
  /*Add to cart button*/
  --color-button-cart: var(--color-button-primary);
  --color-button-cart-hover: oklch(
    from var(--color-button-cart) calc(l + var(--state-hover)) c h
  );

  --color-button-cart-fg: var(--color-fg-reverse);

  /* Detail button */
  --color-button-detail: var(--color-button-secondary);
  --color-button-detail-hover: oklch(
    from var(--color-button-detail) calc(l + var(--state-hover)) c h
  );

  --color-button-detail-fg: var(--color-button-fg);

  /* wishlist button */
  --color-button-wishlist: var(--color-button-tertiary);
  --color-button-wishlist-hover: oklch(
    from var(--color-button-wishlist) calc(l + var(--state-hover)) c h
  );

  --color-button-wishlist-fg: var(--color-button-fg);

  /* === PRODUCT CARD IMAGE === */
  --aspect-pc-image: var(--aspect-ratio-square);
  --radius-pc-image: var(--radius-pc);
  --shadow-pc-image: var(--shadow-sm);
}

/* === ORDERS IN LAYOUT === */

@utility order-image {
  order: 0;
}

@utility order-name {
  order: 1;
}

@utility order-ratings {
  order: 2;
}

@utility order-badges {
  order: 3;
}

@utility order-stock {
  order: 4;
}

@utility order-price {
  order: 5;
}

@utility order-buttons {
  order: 6;
}

/* === LINE CLAMP UTILITIES === */
@utility line-clamp-pc-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--height-pc-name-lines);
}

@utility token-icon-eye {
  @apply icon-[mdi--eye];
}

@utility grid-rows-pc-card {
  grid-template-rows: auto auto minmax(var(--height-pc-badges-min), auto) auto 1fr auto;
}