@theme static {
  --radius-input: var(--radius-md);
  --radius-input-sm: var(--radius-md);
  --radius-input-md: var(--radius-md);
  --radius-input-lg: var(--radius-md);

  --text-input-sm: var(--text-xs);
  --text-input-md: var(--text-sm);

  --color-input: var(--color-float);
  --color-input-border: var(--color-border-primary);
  --color-input-border-focus: var(--color-primary);
  --color-input-ring: var(--color-ring);
}
