NEXT_PUBLIC_MEDUSA_BACKEND_URL=
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
# Public Packeta widget API key (Packeta admin → API keys → Web widget)
NEXT_PUBLIC_PACKETA_WIDGET_API_KEY=11e0ac21e8a0c788
RESEND_API_KEY=
CONTACT_EMAIL=
# From email - must be from a verified domain in Resend
# For testing you can use onboarding@resend.dev
RESEND_FROM_EMAIL=onboarding@resend.dev

NEXT_PUBLIC_MEILISEARCH_URL=
NEXT_PUBLIC_MEILISEARCH_API_KEY=
