@theme static {
  --font-sans: Aptos, "Segoe UI", sans-serif;
  --font-mono: "Cascadia Mono", SFMono-Regular, Consolas, monospace;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-admin-page-title: 2.625rem;
  --text-admin-page-title-sm: 1.875rem;
  --text-admin-page-count: 2.375rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-regular: var(--font-weight-normal);
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-tight: 1.2;
  --line-height-snug: 1.3;
  --line-height-normal: 1.4;
  --line-height-relaxed: 1.5;
  --line-height-loose: 1.75;
}
