# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
node-compile-cache

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.vercel

# Ignore generated accessibility reports from storybook (a11y)
a11y-report/
