@theme static {
  --spacing-badge-md: var(--spacing-100) var(--spacing-200);
  --spacing-badge-lg: var(--spacing-200);
  --text-badge-md: var(--text-xs);
  --font-weight-badge-md: var(--font-weight-semibold);
  --radius-badge: var(--radius-md);

  --color-badge-bg-primary: var(--color-primary);
  --color-badge-fg-primary: var(--color-fg-reverse);

  --color-badge-bg-secondary: var(--color-float);
  --color-badge-fg-secondary: var(--color-fg-primary);

  --color-badge-bg-tertiary: var(--color-herbatika-highlight);
  --color-badge-fg-tertiary: var(--color-herbatika-primary);

  --color-badge-bg-info: var(--color-info);
  --color-badge-fg-info: var(--color-fg-reverse);

  --color-badge-bg-success: var(--color-success);
  --color-badge-fg-success: var(--color-fg-reverse);

  --color-badge-bg-warning: var(--color-warning);
  --color-badge-fg-warning: var(--color-fg-reverse);

  --color-badge-bg-danger: var(--color-danger);
  --color-badge-fg-danger: var(--color-fg-reverse);

  --color-badge-bg-discount: var(--color-tertiary);
  --color-badge-fg-discount: var(--color-fg-reverse);
}
