@theme static {
  --color-input-border-hover: var(--color-border-secondary);
  --radius-input-sm: var(--radius-xs);
  --radius-input-md: var(--radius-xs);
  --radius-input-lg: var(--radius-lg);
  /* TEST */
  /*--color-input-border: var(--color-red-600);*/
  --padding-input-md: 1.375rem var(--spacing-150);
  --width-phone-input-trigger: 11ch;
  --height-form-control-sm: calc(
    var(--border-width-form-control) * 2 + var(--spacing-50) * 2 + 1lh
  );
  --height-form-control-md: calc(
    var(--border-width-form-control) * 2 + var(--spacing-100) * 2 + 1lh
  );
  --height-form-control-lg: calc(
    var(--border-width-form-control) * 2 + var(--spacing-200) * 2 + 1lh
  );
}
