@theme static {
  --footer-cols: repeat(4, minmax(0, 1fr));

  --color-footer-bg: var(--color-surface);
  --color-footer-container-bg: transparent;
  --color-footer-section-bg: transparent;
  --color-footer-list-bg: transparent;
  --color-footer-bottom-bg: transparent;

  --color-footer-title-fg: var(--color-fg-primary);
  --color-footer-title-fg-hover: var(--color-fg-primary);
  --color-footer-link-fg: var(--color-fg-secondary);
  --color-footer-link-fg-hover: var(--color-primary);
  --color-footer-text-fg: var(--color-fg-secondary);
  --color-footer-divider-bg: var(--color-border-secondary);

  --text-footer-title-sm: var(--text-md);
  --text-footer-title-md: var(--text-md);
  --text-footer-title-lg: var(--text-md);

  --text-footer-link-sm: var(--text-md);
  --text-footer-link-md: var(--text-md);
  --text-footer-link-lg: var(--text-md);

  --text-footer-text-sm: var(--text-sm);
  --text-footer-text-md: var(--text-md);
  --text-footer-text-lg: var(--text-md);

  --font-weight-footer-title: var(--font-weight-bold);
  --font-weight-footer-link: var(--font-weight-normal);

  --container-footer-max: var(--container-max-w);

  --padding-footer-root-sm: 0;
  --padding-footer-root-md: 0;
  --padding-footer-root-lg: 0;

  --spacing-footer-container-sm: var(--spacing-600);
  --spacing-footer-container-md: var(--spacing-700);
  --spacing-footer-container-lg: var(--spacing-700);

  --spacing-footer-section-sm: var(--spacing-250);
  --spacing-footer-section-md: var(--spacing-250);
  --spacing-footer-section-lg: var(--spacing-250);

  --spacing-footer-list-gap: var(--spacing-150);
  --spacing-footer-list-gap-sm: var(--spacing-150);
  --spacing-footer-list-gap-md: var(--spacing-150);
  --spacing-footer-list-gap-lg: var(--spacing-150);

  --padding-footer-bottom: var(--spacing-500);
  --padding-footer-bottom-sm: var(--spacing-500);
  --padding-footer-bottom-md: var(--spacing-500);
  --padding-footer-bottom-lg: var(--spacing-500);

  --margin-footer-divider-sm: 0;
  --margin-footer-divider-md: 0;
  --margin-footer-divider-lg: 0;

  --border-width-footer: var(--border-width-sm);
  --height-footer-divider: 1px;
  --radius-footer: 0;
}
