@theme static {
  --color-header-bg: var(--color-surface);
  --color-header-nav-item-bg: transparent;
  --color-header-nav-item-bg-hover: transparent;

  --color-header-nav-fg: var(--color-fg-reverse);
  --color-header-nav-fg-hover: var(--color-fg-reverse);
  --color-header-nav-fg-active: var(--color-fg-reverse);

  --color-header-actions-fg: var(--color-fg-primary);
  --color-header-actions-fg-hover: var(--color-primary);

  --font-weight-header-nav: var(--font-weight-bold);
  --font-weight-header-nav-active: var(--font-weight-bold);

  --text-header-item-sm: var(--text-xs);
  --text-header-item-md: var(--text-xs);
  --text-header-item-lg: var(--text-sm);

  --padding-header-item-sm: var(--spacing-200) var(--spacing-150);
  --padding-header-item-md: var(--spacing-200) var(--spacing-150);
  --padding-header-item-lg: var(--spacing-250) var(--spacing-200);

  --spacing-header-container: var(--spacing-600);
  --spacing-header-nav-sm: var(--spacing-100);
  --spacing-header-nav-md: var(--spacing-100);
  --spacing-header-nav-lg: var(--spacing-150);
  --spacing-header-actions-sm: var(--spacing-150);
  --spacing-header-actions-md: var(--spacing-200);
  --spacing-header-actions-lg: var(--spacing-250);

  --color-header-hamburger-fg: var(--color-fg-primary);
  --color-header-hamburger-fg-hover: var(--color-primary);

  --container-header-desktop: 72rem;
}
